/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CRISPRESSO2 {
        ext.args = {
            params.platform == 'nanopore'
                ? '--min_average_read_quality 0 --min_single_bp_quality 0 --needleman_wunsch_gap_extend 0 --default_min_aln_score 60 --expand_ambiguous_alignments'
                : '--min_average_read_quality 0 --min_single_bp_quality 0'
        }
        publishDir = [
            path: { "${params.outdir}/crispresso2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: NANOPLOT {
        ext.args = '--plots dot'
        publishDir = [
            path: { "${params.outdir}/nanoplot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: NANOFILT {
        ext.args = {
            [
                params.nanofilt_quality   ? "-q ${params.nanofilt_quality}"   : '',
                params.nanofilt_length    ? "-l ${params.nanofilt_length}"    : '',
                params.nanofilt_maxlength ? "--maxlength ${params.nanofilt_maxlength}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/nanofilt" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        container  = 'quay.io/biocontainers/multiqc:1.9--py_1'
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
