/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for NHEJ publication test data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Real CRISPResso publication dataset for NHEJ testing

    Use as follows:
        nextflow run nf-core/crispresso -profile test_nhej,conda --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'NHEJ publication test'
    config_profile_description = 'Test with real NHEJ publication dataset from CRISPResso authors'

        // Input data - Official CRISPResso NHEJ example dataset
    input = "${projectDir}/assets/samplesheet_nhej.csv"
    
    // CRISPResso2 parameters for NHEJ dataset (from documentation)
    amplicon_seq = "AATGTCCCCCAATGGGAAGTTCATCTGGCACTGCCCACAGGTGAGGAGGTCATGATCCCCTTCTGGAGCTCCCAACGGGCCGTGGTCTGGTTCATCATCTGTAAGAATGGCTTCAAGAGGCTCGGCTGTGGTT"
    guide_seq = null  // No guide sequence specified in NHEJ example
    
    // Genome reference
    genome = null
    igenomes_ignore = true
    
    // Maximum resource usage
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'
}
