/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running nanopore tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a nanopore pipeline test.

    Use as follows:
        nextflow run nf-core/crispresso -profile test_nanopore,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Nanopore test profile'
    config_profile_description = 'Minimal test dataset for nanopore sequencing support'

    // Input data
    input    = "${projectDir}/assets/samplesheet_test_nanopore.csv"
    platform = 'nanopore'

    // CRISPResso2 parameters
    amplicon_seq = "TCCCATCACATCAACCGGTGGCGCATTGCCACGAAGCAGGCCAATGGGGAGGACATCGATGTCACCTCCAATGACTAGGGTGGGCAACCGGTTGTAACGAAGGTGTGAAGCTGAGCTG"
    guide_seq    = "GGCGCATTGCCACGAAGCAG"

    // NanoFilt parameters for testing
    nanofilt_quality  = 7
    nanofilt_length   = 100

    // Limit resources for testing
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'
}
