/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running lightweight tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a lightweight test.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test publication data with reduced memory'
    config_profile_description = 'Minimal test dataset to check pipeline function with reduced memory requirements'

    // Limit resources so that this can run on smaller systems  
    max_cpus   = 4
    max_memory = '20.GB'
    max_time   = '6.h'

    // Input data
    input = "${projectDir}/assets/samplesheet_base_editor_test.csv"
    outdir = './results_light'
}

// Enable docker
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) --platform linux/amd64'
}

// Override process_medium memory for multiple processes
process {
    withName:CRISPRESSO2 {
        memory = { 12.GB * task.attempt }
        cpus   = { 4     * task.attempt }
    }
    withName:FASTQC {
        memory = { 8.GB * task.attempt }
        cpus   = { 2     * task.attempt }
    }
    withName:MULTIQC {
        memory = { 6.GB * task.attempt }
        cpus   = { 2     * task.attempt }
        container = 'quay.io/biocontainers/multiqc:1.9--py_1'
    }
}
